/** Width between 1200x to 0
 *  ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
 */

@media (min-width: 1200px) {

}

/** Width between 992px to 1199px
 *  ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
 */

@media (min-width: 992px) and (max-width: 1199px) {
    .nav-menu {
        justify-content: flex-end;
    }
    .main_img_text{
        font-size: 85px!important;
    }
}

/** Width between 768px to 991px
 *  ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
 */

@media (min-width: 768px) and (max-width: 991px) {
    #top {
        position: relative;
    }
    .mobile-nav {
        display: flex;
    }
    .scroll-arrow {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
    }
    .octopus img {
        height: 80vh;
    }
    .scroll-arrow i {
        color: #eb5757;
    }
    .services_cards-wrapper {
        justify-content: unset;
    }
    .service-card {
        max-width: 50%;
    }
    /* Navbar */
    nav {
        padding: 20px 15px;
    }
    #main-nav {
        background-color: black!important;
    }
    .main_img_text{
        font-size: 85px!important;
    }
    .main-text {
        height: unset;
        align-items: flex-start;
        padding: 140px 10% 0 0;
    }
    .main-text span {
        font-size: 8vh!important;
    }
    .nav-menu {
        margin-top: 40px;
        display: none;
        float: none;
        width: 100%;
    }
    .nav-menu li {
        float: none;
        width: 100%;
        text-align: center;
        border-top: 1px solid #f7f7f7;
        line-height: 45px;
        margin-left: 0;
        padding-top: 10px;
        padding-bottom: 10px;
        list-style: none;
    }
    #menu-button {
        display: block;
    }
    .responsive {
        float: right;
        display: block;
    }
    .responsive svg {
        font-size: 1.2em;
    }
    /* About */
    .head-info .header-content .cmaster h1 {
        font-size: 32px;
    }
    #about .div-img-bg {
        padding: 0;
    }
    #about .div-img-bg .about-img img {
        margin-top: 0;
        margin-left: calc(0% - 0px);
    }
    #about .about-descr .p-heading {
        font-size: 20px;
    }
    #about .about-descr .separator {
        max-width: 100%;
        margin-bottom: 0;
    }
    /* portfolio */

    /* journal */
    #journal .journal-block .journal-info {
        margin-bottom: 30px;
    }
    /* Contact */
    .contact-contact {
        margin-bottom: 30px;
    }
    /* Footer */
    #footer .socials-media ul li {
        float: none;
        display: inline-block;
    }
    .about-descr p {
        margin-top: 2rem;
    }
}

/** Width between 767px to 0
 *  ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
 */

@media (max-width: 768px) {
    /* Navbar */
    nav {
        padding: 20px 15px;
    }
    p {
        margin: 20px 0;
    }
    .menu-toggle {
        display: block;
    }
    .nav-menu {
        margin-top: 40px;
        display: none;
        float: none;
        width: 100%;
    }
    .nav-menu li {
        float: none;
        width: 100%;
        text-align: center;
        border-top: 1px solid #f7f7f7;
        line-height: 45px;
        margin-left: 0;
        padding-top: 13px;
        padding-bottom: 13px;
    }
    .responsive {
        float: right;
        display: block;
    }
    /* About */
    .head-info .header-content h1 {
        font-size: 32px;
    }
    #about .div-img-bg {
        padding: 0;
    }
    #about .div-img-bg .about-img img {
        margin-top: 0;
        margin-left: calc(0% - 0px);
    }
    #about .about-descr .p-heading {
        font-size: 20px;
    }
    #about .about-descr .separator {
        max-width: 100%;
        margin-bottom: 0;
    }
    /* portfolio */
    .bike-section_bike img {
        height: unset;
        width: 100vw;
    }
    /* journal */
    #journal .journal-block .journal-info {
        margin-bottom: 30px;
    }
    /* Contact */
    .contact-contact {
        margin-bottom: 30px;
    }
    /* Footer */
    #footer .socials-media ul li {
        float: none;
        display: inline-block;
    }
    .about-descr p {
        margin-top: 2rem;
    }
    .portfolio-item img {
        border: solid medium red;
    }
}

/** Width between 600px to 0
 *  ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
 */

@media (max-width: 600px) {
    /* Navbar */
    nav {
        padding: 20px 15px;
    }
    .nav-menu {
        margin-top: 40px;
        display: none;
        float: none;
        width: 100%;
    }
    .nav-menu li {
        float: none;
        width: 100%;
        text-align: center;
        border-top: 1px solid #f7f7f7;
        line-height: 45px;
        margin-left: 0;
        padding-top: 13px;
        padding-bottom: 13px;
    }
    .responsive {
        float: right;
        display: block;
    }
    /* About */
    .head-info .header-content h1 {
        font-size: 32px;
    }
    #about .div-img-bg {
        padding: 0;
    }
    #about .div-img-bg .about-img img {
        margin-top: 0;
        margin-left: calc(0% - 0px);
    }
    #about .about-descr .p-heading {
        font-size: 20px;
    }
    #about .about-descr .separator {
        max-width: 100%;
        margin-bottom: 0;
    }
    /* portfolio */
    #portfolio .portfolio-list .nav li {
        float: none;
        margin: 10px;
        display: inline-block;
    }
    /* journal */
    #journal .journal-block .journal-info {
        margin-bottom: 30px;
    }
    /* Contact */
    .contact-contact {
        margin-bottom: 30px;
    }
}

/** Width between 480px to 0
 *  ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
 */

@media (max-width: 480px) {
    /* Navbar */
    nav {
        padding: 20px 15px;
    }
    .nav-menu {
        margin-top: 40px;
        display: none;
        float: none;
        width: 100%;
    }
    .nav-menu li {
        float: none;
        width: 100%;
        text-align: center;
        border-top: 1px solid #f7f7f7;
        line-height: 45px;
        margin-left: 0;
        padding-top: 13px;
        padding-bottom: 13px;
    }
    .responsive {
        float: right;
        display: block;
    }
    /* About */
    .head-info .header-content h1 {
        font-size: 32px;
    }
    #about .div-img-bg {
        padding: 0;
    }
    #about .div-img-bg .about-img img {
        margin-top: 0%;
        margin-left: calc(0% - 0px);
    }
    #about .about-descr .p-heading {
        font-size: 20px;
    }
    #about .about-descr .separator {
        max-width: 100%;
        margin-bottom: 0;
    }
    /* portfolio */
    #portfolio .portfolio-list .nav li {
        float: none;
        margin: 20px;
    }
    /* journal */
    #journal .journal-block .journal-info {
        margin-bottom: 30px;
    }
    /* Contact */
    .contact-contact {
        margin-bottom: 30px;
    }
}

/** Width between 320px to 0
 *  ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
 */

@media (max-width: 320px) {
    /* Navbar */
    nav {
        padding: 20px 15px;
    }
    .nav-menu {
        margin-top: 40px;
        display: none;
        float: none;
        width: 100%;
    }
    .header-content h1{
        font-size: 35px;
    }
    .nav-menu li {
        float: none;
        width: 100%;
        text-align: center;
        border-top: 1px solid #f7f7f7;
        line-height: 45px;
        margin-left: 0;
        padding-top: 13px;
        padding-bottom: 13px;
    }
    .responsive {
        float: right;
        display: block;
    }
    /* About */
    .head-info .header-content h1 {
        font-size: 32px;
    }
    #about .div-img-bg {
        padding: 0;
    }
    #about .div-img-bg .about-img img {
        margin-top: 0;
        margin-left: calc(0% - 0px);
    }
    #about .about-descr .p-heading {
        font-size: 20px;
    }
    #about .about-descr .separator {
        max-width: 100%;
        margin-bottom: 0;
    }
    /* portfolio */
    #portfolio .portfolio-list .nav li {
        float: none;
        margin: 15px;
    }
    /* journal */
    #journal .journal-block .journal-info {
        margin-bottom: 30px;
    }
    /* Contact */
    .contact-contact {
        margin-bottom: 30px;
    }
    #footer .socials-media ul li {
        margin: 0 5px;
    }
    /* Single page */
    .entry-comments-body span {
        display: inline-block;
        margin-right: 0;
    }
}
