/** Width between 1200x to 0
 *  ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
 */

@media (max-width: 1750px) {
    .bike-section_bike img {
        object-fit: contain;
    }
}

/** Width between 992px to 1199px
 *  ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
 */

@media (min-width: 992px) and (max-width: 1199px) {
    .nav-menu {
        justify-content: flex-end;
    }
    .main_img_text{
        font-size: 85px!important;
    }
}

/** Width between 768px to 991px
 *  ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
 */

@media (min-width: 768px) and (max-width: 991px) {
    #top {
        position: relative;
    }
    .mobile-nav {
        display: flex;
    }
    .scroll-arrow {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
    }
    .octopus img {
        height: 80vh;
    }
    .scroll-arrow i {
        color: #eb5757;
    }
    .services_cards-wrapper {
        justify-content: unset;
    }
    .service-card {
        max-width: 50%;
    }
    /* Navbar */
    nav {
        padding: 20px 15px;
    }
    #main-nav {
        background-color: black!important;
    }
    .main_img_text{
        font-size: 85px!important;
    }
    .main-text {
        height: unset;
        align-items: flex-start;
        padding: 140px 10% 0 0;
    }
    .main-text span {
        font-size: 8vh!important;
    }
    .nav-menu {
        margin-top: 40px;
        display: none;
        float: none;
        width: 100%;
    }
    .nav-menu li {
        float: none;
        width: 100%;
        text-align: center;
        border-top: 1px solid #f7f7f7;
        line-height: 45px;
        margin-left: 0;
        padding-top: 10px;
        padding-bottom: 10px;
        list-style: none;
    }
    #menu-button {
        display: block;
    }
    .responsive {
        float: right;
        display: block;
    }
    .responsive svg {
        font-size: 1.2em;
    }
    /* About */
    .head-info .header-content .cmaster h1 {
        font-size: 32px;
    }
    #about .div-img-bg {
        padding: 0;
    }
    #about .div-img-bg .about-img img {
        margin-top: 0;
        margin-left: calc(0% - 0px);
    }
    #about .about-descr .p-heading {
        font-size: 20px;
    }
    #about .about-descr .separator {
        max-width: 100%;
        margin-bottom: 0;
    }
    /* portfolio */

    /* journal */
    #journal .journal-block .journal-info {
        margin-bottom: 30px;
    }
    /* Contact */
    .contact-contact {
        margin-bottom: 30px;
    }
    /* Footer */
    #footer .socials-media ul li {
        float: none;
        display: inline-block;
    }
    .about-descr p {
        margin-top: 2rem;
    }
}

/** Width between 767px to 0
 *  ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
 */

@media (max-width: 768px) {
    /* Navbar */
    nav {
        padding: 20px 15px;
    }
    p {
        margin: 20px 0;
    }
    #menu-button {
        display: flex;
    }
    .nav-menu {
        margin-top: 40px;
        display: none;
        float: none;
        width: 100%;
    }
    .nav-menu li {
        float: none;
        width: 100%;
        text-align: center;
        border-top: 1px solid #f7f7f7;
        line-height: 45px;
        margin-left: 0;
        padding-top: 13px;
        padding-bottom: 13px;
    }
    .responsive {
        float: right;
        display: block;
    }
    .main-text {
        align-items: unset;
    }
    .main-text span {
        font-size: 8vh!important;
    }
    .octopus img {
        height: 80vh;
    }
    .services_cards-wrapper {
         justify-content: unset;
     }
    .service-card {
        max-width: 60%;
        margin: 0 2rem 0 0;
    }
    .service-card:last-child {
        margin: 0 1rem 0 0;
    }
    .bike-section_bike {
        max-width: 50%;
    }
    .bike-section_text {
        max-width: 50%;
        font-size: 16px;
    }
    .bike-section_bike img {
        height: unset;
        object-fit: contain;
    }
    #reasons {
        padding-bottom: 100px;
        height: unset;
    }
    .reasons_text {
        padding: 25px 0 0;
    }
    .reasons_card-wrapper {
        display: none;
    }
    #navbarFooter ul {
        width: 100%;
    }
    #navbarFooter .nav-item {
        margin: unset!important;
        padding-top: unset!important;
    }
    #navbarFooter .nav-item a {
        padding-top: unset!important;
    }
    /* journal */
    #journal .journal-block .journal-info {
        margin-bottom: 30px;
    }
    /* Contact */
    .contact-contact {
        margin-bottom: 30px;
    }
    /* Footer */
    #footer .socials-media ul li {
        float: none;
        display: inline-block;
    }
    .about-descr p {
        margin-top: 2rem;
    }
    .portfolio-item img {
        border: solid medium red;
    }
}

/** Width between 600px to 0
 *  ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
 */

@media (max-width: 600px) {
    /* Navbar */
    nav {
        padding: 20px 15px;
    }
    .nav-menu {
        margin-top: 40px;
        display: none;
        float: none;
        width: 100%;
    }
    .nav-menu li {
        float: none;
        width: 100%;
        text-align: center;
        border-top: 1px solid #f7f7f7;
        line-height: 45px;
        margin-left: 0;
        padding-top: 13px;
        padding-bottom: 13px;
    }
    .responsive {
        float: right;
        display: block;
    }
    /* About */
    .head-info .header-content h1 {
        font-size: 32px;
    }
    #about .div-img-bg {
        padding: 0;
    }
    #about .div-img-bg .about-img img {
        margin-top: 0;
        margin-left: calc(0% - 0px);
    }
    #about .about-descr .p-heading {
        font-size: 20px;
    }
    #about .about-descr .separator {
        max-width: 100%;
        margin-bottom: 0;
    }
    /* portfolio */
    #portfolio .portfolio-list .nav li {
        float: none;
        margin: 10px;
        display: inline-block;
    }
    /* journal */
    #journal .journal-block .journal-info {
        margin-bottom: 30px;
    }
    /* Contact */
    .contact-contact {
        margin-bottom: 30px;
    }
}

/** Width between 480px to 0
 *  ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
 */

@media (max-width: 480px) {
    /* Navbar */
    nav {
        padding: 20px 15px;
    }
    .nav-menu {
        margin-top: 40px;
        display: none;
        float: none;
        width: 100%;
    }
    .nav-menu li {
        float: none;
        width: 100%;
        text-align: center;
        border-top: 1px solid #f7f7f7;
        line-height: 45px;
        margin-left: 0;
        padding-top: 13px;
        padding-bottom: 13px;
    }
    .sidebar-nav li.sidebar-nav-item a {
        margin: 1rem 0;
    }
    .arrow-up {
        right: 1rem;
    }
    .phone {
        left: 1rem;
    }
    .responsive {
        float: right;
        display: block;
    }
    .main-text {
        height: 70%;
        padding: 50px 20% 0 0;
    }
    .service-card {
        max-width: 70%;
    }
    .service-card_top_icon {
        padding: unset;
    }
    .services-wrapper_button-wrapper {
        align-content: flex-start;
        justify-content: center;
    }
    .services-wrapper_button-wrapper_button {
        padding: 1rem 3rem;
    }
    .section_light {
        height: unset;
    }
    .bike-section_title {
        height: 10%;
    }
    .bike-section_text div {
        padding: .5rem;
        white-space: nowrap;
    }
    .bike-section_bike {
        max-width: 100%;
        flex: 0 0 100%;
    }
    .bike-section_bike img {
        width: 100vw;
    }
    .bike-section_text {
        padding: unset;
        max-width: 100%;
        flex: 0 0 100%;
    }
    .bike-section_text p {
        margin: 0;
    }
    .bike-section_text div {
        margin: 3% 0 0 auto;
    }
    #reasons {
        padding-bottom: 40px;
    }
    .reasons_title {
        padding-top: 40px;
        width: 95%;
        margin: auto;
    }
    .contacts_title {
        height: 15%;
        padding: 25px 0 10px;
    }
    .contacts_title > div:last-child {
        font-size: 2.5vh;
    }
    .contacts-bar {
        width: 90%;
        margin: 0 0 0 auto;
    }
    .contacts-bar ul {
        -ms-flex-pack: space-around;
        justify-content: space-around;
        -webkit-justify-content: space-around;
    }
    .form-wrapper {
        width: 95%;
        padding: 10px 0;
    }
    .form-wrapper form {
        width: 100%;
    }
    .form-wrapper input {
        flex: 0 0 90%;
        width: 100%;
        font-size: 16px;
    }
    .form-wrapper textarea {
        flex: 0 0 90%;
        font-size: 16px;
        padding: 5px 10px;
        line-height: normal;
    }
    .fixed-buttons {
        height: 50px;
        width: 50px;
    }
    .fixed-buttons i {
        font-size: 1.5em;
    }
    .contacts-bar li {
        padding: .75rem;
    }
    .contacts-bar li  div{
        height: 50px;
        width: 50px;
    }
    .contacts-bar li div i {
        font-size: 1.5em;
    }
    #navbarFooter .nav-item:not(:first-child):not(:last-child) {
        display: none;
    }
    #footer-nav {
        padding-bottom: 5px;
    }
}

/** Width between 320px to 0
 *  ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
 */

@media (max-width: 320px) {
    /* Navbar */
    nav {
        padding: 20px 15px;
    }
    .nav-menu {
        margin-top: 40px;
        display: none;
        float: none;
        width: 100%;
    }
    .header-content h1{
        font-size: 35px;
    }
    .nav-menu li {
        float: none;
        width: 100%;
        text-align: center;
        border-top: 1px solid #f7f7f7;
        line-height: 45px;
        margin-left: 0;
        padding-top: 13px;
        padding-bottom: 13px;
    }
    .responsive {
        float: right;
        display: block;
    }
    /* About */
    .head-info .header-content h1 {
        font-size: 32px;
    }
    #about .div-img-bg {
        padding: 0;
    }
    #about .div-img-bg .about-img img {
        margin-top: 0;
        margin-left: calc(0% - 0px);
    }
    #about .about-descr .p-heading {
        font-size: 20px;
    }
    #about .about-descr .separator {
        max-width: 100%;
        margin-bottom: 0;
    }
    /* portfolio */
    #portfolio .portfolio-list .nav li {
        float: none;
        margin: 15px;
    }
    /* journal */
    #journal .journal-block .journal-info {
        margin-bottom: 30px;
    }
    /* Contact */
    .contact-contact {
        margin-bottom: 30px;
    }
    #footer .socials-media ul li {
        margin: 0 5px;
    }
    /* Single page */
    .entry-comments-body span {
        display: inline-block;
        margin-right: 0;
    }
}
