<footer class="main-footer">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-6">
                <p>OctoWice</p>
            </div>
            <div class="col-sm-6 text-right">
                <p>Provided by <a href="spotify:user:060599:playlist:389a2IzLq4e8HUsRTRQb1x" class="external">Меню Приморских Ресторанов</a></p>
            </div>
        </div>
    </div>
</footer>