{% extends 'admin/base.html.twig' %}


{% block body %}
    <div class="container" style="padding-top: 20px">
        <div class="row">
            <div class="col-lg-12">
                {{ form_start(form) }}

                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script>
        {% if image is not empty %}
            $('#edit_category_form_image').parent().after('<div>Старое фото: <img class="admin-show-image" src="/images/{{ image }}"> </div>');
        {% else %}
            $('#edit_category_form_image').after('<div>Старого фото нет</div>');
        {% endif %}
    </script>
{% endblock %}