{% extends 'admin/base.html.twig' %}



{% block body %}
    <div class="container" style="padding-top: 20px">
        <div class="row">
            <div class="col-lg-12">
                {{ form_start(form) }}

                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script>
        $(document).ready(function () {
            {% if image is not empty %}
                $('#edit_project_form_image').parent().after('<div>Старое фото: <img class="admin-show-image" src="/images/{{ image }}"> </div>');
            {% else %}
                $('#edit_project_form_image').after('<div>Старого фото нет</div>');
            {% endif %}
            $('#edit_project_form_photos').parent().css('margin-bottom', '20px');
            $('#edit_project_form_photos').parent().parent().append('<div class="row" id="photos_list"></div>')
            {% for photo in photos %}
                $('#photos_list').append(create_image_block('{{ photo.image }}'));
            {% endfor %}
        });

        function create_image_block(src) {
            return '<div class="col-2 has-image"><img class="img-product" style="width: 100px; height: 100px; object-fit: contain; cursor: pointer" src="/images/'+src+'"><a class="delete-product-image" id="2" style="text-decoration: underline; color: #4954ff; cursor: pointer">Удалить фото</a></div>';
        }
    </script>
{% endblock %}